# setum.css

button { border: thin solid black; }
textbox { border: thin solid black; }

.flat { border: thin solid black; }

.mytoolbar { border: thin outset white; }

.title { 
	background-color: rgb(80,105,130);
	font-size: large;
	color: white;
 }
spacer.header {
	height: 8px
}

