@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

datebox { -moz-binding:url('dateselector.xml#datebox'); }


.popupbox { -moz-binding:url('dateselector.xml#popupbox'); }
._dateselector_monthyear { -moz-binding:url('dateselector.xml#dateselector-monthyear'); }
._dateselector_year  { -moz-binding:url('dateselector.xml#dateselector-year'); }
._dateselector_month { -moz-binding:url('dateselector.xml#dateselector-month'); }
._dateselector_day   { -moz-binding:url('dateselector.xml#dateselector-day'); }
